<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.sweet.ke_li.datepickview"
>

    <application android:allowBackup="false"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
